<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Editar Sala</title>
</head>
<body>
    <h2>Editar</h2>
</body>
</html>